###5 **Pandas.**

In [ ]:
# CREAR DATAFRAME
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Crear tabla de contenido
columns = ['Nombre', 'Edad', 'Genero', 'Ocupacion']  #Encabezado de  la tabla 

#Contenido de la tabla
usuario_1 = pd.DataFrame([['alice', 19, "F", "student"],['john', 26, "M", "student"]],columns=columns)
usuario_2 = pd.DataFrame([['eric', 22, "M", "student"],['paul', 58, "F", "manager"]],columns=columns)
usuario_3 = pd.DataFrame(dict(Nombre=['peter', 'julie'],Edad=[33, 44], Genero=['M', 'F'],Ocupacion=['engineer', 'scientist']))

print(usuario_1)

users = pd.concat([usuario_1, usuario_2, usuario_3])
print(users)


#DataFrame de formato largo a formato ancho
staked = pd.melt(users, id_vars="Nombre", var_name="variable", value_name="valor")
print(staked)

In [ ]:
#EXAMINAR LOS DATOS DE USERS

users # imprime las filas 
type(users) # regresa el formato de la la variable users
users.head() # imprime las primeras cinco filas 
users.tail() # imprime las últimas cinco filas
users.index # imprime las etiquetas 
users.columns # nombre de las columnas
users.dtypes # tipo de dato de cada columna
users.shape # número de filas y columnas
users.values # Matriz subyacente
users.info() # imprime un resumen de los datos

In [26]:
#SELECCIÓN DE FILAS (BÁSICO)

df = users.copy()
df.iloc[0] # first row
df.iloc[0, 0] # first item of first row
df.iloc[0, 0] = 55
for i in range(users.shape[0]):
  row = df.iloc[i]
  #row.age *= 100 # setting a copy, and not the original frame data.
print(df) # df is not modified

  Nombre  Edad Genero  Ocupacion
0     55    19      F    student
1   john    26      M    student
0   eric    22      M    student
1   paul    58      F    manager
0  peter    33      M   engineer
1  julie    44      F  scientist

In [21]:
#SORTING

df = users.copy()

#df.age.sort_values() # only works for a Series

df.sort_values(by='Edad') # Ordena las filas por columnas específicas
df.sort_values(by='Edad', ascending=False) # ordenación desendente
df.sort_values(by=['Ocupacion', 'Edad']) # ordenacion de varias columnas
df.sort_values(by=['Ocupacion', 'Edad'], inplace=True) # modifica df
print(df)

  Nombre  Edad Genero  Ocupacion
0  peter    33      M   engineer
1   paul    58      F    manager
1  julie    44      F  scientist
0  alice    19      F    student
0   eric    22      M    student
1   john    26      M    student

In [5]:
#DATOS DUPLICADOS

df = users.append(df.iloc[0], ignore_index=True)

print(df.duplicated()) # imprime los valores booleanos

df.duplicated().sum() # cuenta los duplicados

df[df.duplicated()] # muestra solo los que se duplica

df = df.drop_duplicates() # filas duplicadas

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [19]:
#RENOMBRAR VALORES

df = users.copy()
print(df.columns)
df.columns = ['Nombre', 'Edad', 'Genero', 'Ocupacion']
df.Ocupacion = df.Ocupacion.map({ 'student':'etudiant', 'manager':'manager',
'engineer':'ingenieur', 'scientist':'scientific'})
assert df.Ocupacion.isnull().sum() == 0
df['Ocupacion'].str.contains("etu|inge")

Index(['Nombre', 'Edad', 'Genero', 'Ocupacion'], dtype='object')

0     True
1     True
0     True
1    False
0     True
1    False
Name: Ocupacion, dtype: bool

In [22]:
print(users.describe())

            Edad
count   6.000000
mean   33.666667
std    14.895189
min    19.000000
25%    23.000000
50%    29.500000
75%    41.250000
max    58.000000

In [33]:
import tempfile, os.path
tmpdir = tempfile.gettempdir()
csv_filename = os.path.join(tmpdir, "users.csv")
users.to_csv(csv_filename, index=False)
other = pd.read_csv(csv_filename)
url = 'https://raw.github.com/neurospin/pystatsml/master/datasets/salary_table.csv'
salary = pd.read_csv(url)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:f7aa35faea436cbdc5e74be0916067f864e...
1                                           size 840